.notification__wrapper{
  position: relative;
  .label {
    position: absolute;
    width: 1.6rem;
    text-align: center;
    top: 0;
    right: 6px;
    background-color: #ff7c14;
    border-radius: 1rem;
    padding: 0.2rem;
    font-size: 0.7rem;
    font-weight: bold;
    box-shadow: 1px 1px 5px #727171;
  }
}
