.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .chat__window {
    flex: 1 1 auto;
    position: relative;
  }
}
.chat__message{
  max-width: 80%;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 1rem;
  &.right {
    align-self: flex-end;
  }
  &.left {
    align-self: flex-start;
  }
}
.input__message{
  padding: .5rem;
}
:host {
  height: 100%;
}
