<div *ngIf="chat" class="wrapper">
  <div #chatWindow class="chat__window">
    <div class="chat__window-helper">
      <div #chatMessage *ngFor="let item of chat"
           [ngClass]="{'revers': (login$ | async) === item.from && (isMobile$ |async), 'my-message': (login$ | async) === item.from}"
             [ngStyle]="{'max-width: 80%' : (isMobile$ |async)}"
           class="chat__message">
        <div [routerLink]="['/user/' + item.from]" [title]="item.from"
             class="img__wrapper">
          <img [src]="item.img | async" alt="" class="chat__img">
        </div>
        <div [ngClass]="{'unread': !item.isRead && (login$ | async) === item.to}" class="chat__text">{{ item.text }}</div>
      </div>
    </div>
  </div>
  <label class="input__message">New message
    <input #input (keydown.enter)="send(input)" type="text">
  </label>
</div>

