<div *ngIf="profile else loading">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        General
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-settings-input-field
      [value]="profile.login"
      name="login"
      title="Login"
      validate="login"></app-settings-input-field>

    <app-settings-input-field
      [value]="profile.name.firstName"
      name="firstName"
      title="FirstName"></app-settings-input-field>

    <app-settings-input-field
      [value]="profile.name.lastName"
      name="lastName"
      title="LastName"></app-settings-input-field>
    <app-settings-input-field
      [value]="profile.birthDay | date:'yyyy-MM-dd'"
      name="birthDay"
      title="BirthDay"
      type="date"
      validate="birthDay"></app-settings-input-field>
    <div>
      <mat-label>Gender</mat-label>
      <mat-select #gender (selectionChange)="updateGender(gender.value)" [value]="profile?.gender" placeholder="Gender"
                  style="padding:.3rem">
        <mat-option *ngFor="let food of ['Male', 'Female', 'Other']" [value]="food">
          {{food}}
        </mat-option>
      </mat-select>
    </div>
    <!--    <select (change)="updateGender(gender.value)" #gender>-->
    <!--      <option>Male</option>-->
    <!--      <option>Female</option>-->
    <!--      <option>Other</option>-->
    <!--    </select>-->
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Preferences
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>tags,
      {{profile.tag}}</p>
    <!--    <app-list-edit [list]="profile.tag"></app-list-edit>-->
    <app-list-edit [list]="['love', 'sex', 'pain']"></app-list-edit>
    <p>blackList
      {{profile.blackList}}
    </p>
    <p>favorites
      {{profile.favorites}}</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advance
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-image-edit
      [images]="profile.photo.paths"
      [profilePhoto]="profile.photo.profilePhoto">
    </app-image-edit>
    <p>About Me</p>
    <label>
      <textarea
        #about
        (blur)="uploadAbout(about.value)"
        [value]="profile.aboutMe"
        cdkAutosizeMinRows="3" cdkTextareaAutosize
        class="textarea"></textarea>
    </label>
  </mat-expansion-panel>
<!--  <mat-expansion-panel>-->
<!--    <mat-expansion-panel-header>-->
<!--      <mat-panel-title>-->
<!--        Location-->
<!--      </mat-panel-title>-->
<!--    </mat-expansion-panel-header>-->
<!--    <app-map [markers]="[[profile!.coordinates!.latitude, profile!.coordinates!.longitude]]"></app-map>-->
<!--  </mat-expansion-panel>-->
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
<pre>{{profile | json}}</pre>

