::ng-deep .mat-progress-spinner {
  height: 100% !important;

  svg {
    top: calc(50% - 50px) !important;
  }
}

::ng-deep .settings form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem;

  .btn {
    width: auto;
    align-self: flex-end;
  }
}

.textarea {
  width: 100%;
  border: none;
  box-shadow: 0 4px 2px -2px purple;
  border-bottom: 1px solid purple;

  &:focus {
    outline: none;
  }
}

.block {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid silver;
}

.form-field {
  border: none;
  background-color: inherit;
  width: 100%;
  padding: 0.3rem;
  border-bottom: 1px solid #868c8d;
  font-weight: 300;
  text-overflow: ellipsis;
  transition: 0.4s all;
}

input:focus {
  box-shadow: 0 4px 2px -2px purple;
  border-bottom: 1px solid purple;
}

.invalid {
  box-shadow: 0 4px 2px -2px #9d0000;
  border-bottom: 1px solid #830000;
}

.valid {
  box-shadow: 0 4px 2px -2px #009d15;
  border-bottom: 1px solid #008321;
}

input::placeholder {
  font-weight: 400;
  color: #bdbdbd;
}
