<div *ngIf="(profile && profile.login) else loading">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        General
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-settings-input-field
      [value]="profile.name.nickName"
      name="nickName"
      title="Login"
      validate="login"></app-settings-input-field>

    <app-settings-input-field
      [value]="profile.name.firstName"
      name="firstName"
      title="FirstName"></app-settings-input-field>

    <app-settings-input-field
      [value]="profile.name.lastName"
      name="lastName"
      title="LastName"></app-settings-input-field>
    <app-settings-input-field
      [value]="profile.birthDay | date:'yyyy-MM-dd'"
      name="birthDay"
      title="BirthDay"
      type="date"
      validate="birthDay"></app-settings-input-field>
    <app-settings-input-field
      [value]="profile.email"
      name="email"
      title="Mail"
      validate="mail"></app-settings-input-field>
    <div>
      <mat-label>Gender</mat-label>
      <mat-select #gender (selectionChange)="updateGender(gender.value)" [value]="profile?.gender" placeholder="Gender"
                  style="padding:.3rem">
        <mat-option *ngFor="let sex of ['Male', 'Female', 'Other']" [value]="sex">
          {{sex}}
        </mat-option>
      </mat-select>
    </div>
    <div>
      <div class="error">{{valid.pass.error}}</div>
      <label>
        Change Password
      <input class="form-field" id="password" autocomplete="off" type="password" placeholder="Password" #pass
             (input)="checkPassStrength(pass.value)"
             (blur)="valid.pass.check(pass.value)"
             (focus)="reset('pass')">
      </label>
      <mat-progress-bar *ngIf="!!pass.value" mode="determinate" [value]="strength * 20" class="strength-{{strength}}"></mat-progress-bar>

    </div>
    <div>
      <div class="error">{{valid.confirm.error}}</div>
      <label>
      <input class="form-field" id="confirm" autocomplete="off" type="password" placeholder="Confirm password"
             #confirm
             (blur)="valid.confirm.check(confirm.value)"
             (focus)="reset('confirm')"
             [ngClass]="{'invalid':!!valid.confirm.error,'valid':valid.confirm.status}">
      </label>
    </div>

  </mat-expansion-panel>
  <mat-expansion-panel style="overflow: unset">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Preferences
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="block">
      <mat-label>Gender</mat-label>
      <mat-select #prefGender (selectionChange)="updatePrefGender(prefGender.value)" [value]="profile?.sex" placeholder="Gender"
                  style="padding:.3rem">
        <mat-option *ngFor="let pref of ['Male', 'Female', 'Both']" [value]="pref">
          {{pref}}
        </mat-option>
      </mat-select>
    </div>
    <div class="block">
      <p>Tags</p>
      <app-list-edit [list]="profile.tag" (editList)="editList('tag', $event)"></app-list-edit>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advance
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-image-edit
      [images]="profile.photo.paths"
      [profilePhoto]="profile.photo.profilePhoto">
    </app-image-edit>
    <p>About Me</p>
    <label>
      <textarea
        #about
        (blur)="uploadAbout(about.value)"
        [value]="profile.aboutMe"
        cdkAutosizeMinRows="3" cdkTextareaAutosize
        class="textarea"></textarea>
    </label>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Location
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-map [markers]="[[profile.coordinates.latitude, profile.coordinates.longitude]]" (updateCoordinate)="changeLocation($event)">
      <i class="fas fa-search-location fa-3x" (click)="locateMe()"></i>
    </app-map>
  </mat-expansion-panel>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
<pre>{{profile | json}}</pre>

