<div *ngIf="profile else loading">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        General
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-settings-input-field
      name="login"
      validate="login"
      [value]="profile.login"
      title="Login"></app-settings-input-field>

    <app-settings-input-field
      name="firstName"
      [value]="profile.name.firstName"
      title="FirstName"></app-settings-input-field>

    <app-settings-input-field
      name="lastName"
      [value]="profile.name.lastName"
      title="LastName"></app-settings-input-field>
    <app-settings-input-field
      name="birthDay"
      validate="birthDay"
      type="date"
      [value]="profile.birthDay | date:'yyyy-MM-dd'"
      title="BirthDay"></app-settings-input-field>
    <app-settings-input-field
      name="gender"
      [value]="profile.gender"
      title="Gender"></app-settings-input-field>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Preferences
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>tags,
    {{profile.tag}}</p>
<!--    <app-list-edit [list]="profile.tag"></app-list-edit>-->
    <app-list-edit [list]="['love', 'sex', 'pain']"></app-list-edit>
    <p>blackList
    {{profile.blackList}}
    </p>
    <p>favorites
      {{profile.favorites}}</p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Advance
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-image-edit
      [images]="profile.photo.paths"
      [profilePhoto]="profile.photo.profilePhoto">
    </app-image-edit>
    <p>About Me</p><p>
      {{profile.aboutMe}}</p>
    <label>
      <textarea
        cdkTextareaAutosize
        cdkAutosizeMinRows="3"
        [value]="profile.aboutMe"
        #about (blur)="uploadAbout(about.value)"
      class="textarea"></textarea>
    </label>
  </mat-expansion-panel>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
<pre>{{profile | json}}</pre>

