::ng-deep .mat-progress-spinner {
  height: 100% !important;

  svg {
    top: calc(50% - 50px) !important;
  }

}
::ng-deep .settings form{
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin: .5rem;
  .btn{
    width: auto;
    align-self: flex-end;
  }
}
.textarea{
  width: 100%;
  border: none;
  box-shadow: 0 4px 2px -2px purple;
  border-bottom: 1px solid purple;
  &:focus{
    outline: none;
  }
}
.block {
  padding-bottom: .3rem;
  border-bottom: 1px solid silver;
}
