<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="menu__content">
  <div>
    <div class="error">{{valid.login.error}}</div>
    <input #login="ngModel"
           (blur)="valid.login.check(f)"
           (focus)="valid.login.reset()"
           [ngClass]="{'invalid':!!valid.login.error}"
           autocomplete="off" class="field" name="login"
           ngModel
           placeholder="Login"
           type="text"></div>
  <div>
    <div class="error">{{valid.pass.error}}</div>
    <input #pass="ngModel"
           (blur)="valid.pass.check(f)"
           (focus)="valid.pass.reset()"
           [ngClass]="{'invalid':!!valid.pass.error}"
           autocomplete="off" class="field" name="pass"
           ngModel
           placeholder="Password"
           type="password"></div>
  <button class="btn" type="submit">Sign In</button>
  <div class="login__helper">
    <a class="link" routerLink="/restore" routerLinkActive="active">Forgot password?</a>
    <a class="link" routerLink="/register" routerLinkActive="active">Sign Up</a>
  </div>
</form>
