.list__input{
  border: none;
  box-shadow: none;
  border-bottom: 1px solid purple;
}
.entry{
  display: inline-block;
  padding: 0.1rem .2rem ;
  border-radius: 1rem;
  margin: 0 .2ch;
  border: 1px solid rgba(0,0,0, .1);
  background-color: rgba(125, 24, 160, .1);
}
