<mat-toolbar class="head" color="primary">
  <div class="content">
    <a disabled="true">
      <img alt="logo" class="logo__img" src="assets/img/android-chrome-192x192.png">
    </a>
    <span class="title"> Matcha</span>
    <mat-icon (click)="logout()" style="cursor: pointer">logout</mat-icon>
  </div>
</mat-toolbar>
<div class="content">
  <div class="info">
    <mat-icon class="info__icon">info</mat-icon>
    To access the site, specify your preferences, write a few words about yourself and add.
  </div>
</div>
<ng-template [ngIf]="profile && profile.firstAccess">
  <div class="content first__access">
    <app-settings-input-field
      (result)="send($event)"
      [value]="profile.name.firstName"
      name="firstName"
      title="FirstName"
      validate="required"></app-settings-input-field>

    <app-settings-input-field
      (result)="send($event)"
      [value]="profile.name.lastName"
      name="lastName"
      title="LastName" validate="required"></app-settings-input-field>
    <app-settings-input-field
      (result)="send($event)"
      [value]="profile.birthDay | date:'yyyy-MM-dd'"
      name="birthDay"
      title="BirthDay"
      type="date" validate="birthDay"></app-settings-input-field>
    <div class="block__group">
      <div class="block">

        <mat-label>Indicate gender</mat-label>
        <mat-select #gender (selectionChange)="updateGender(gender.value)" [value]="profile?.gender"
                    placeholder="Gender"
                    style="padding:.3rem">
          <mat-option *ngFor="let sex of ['Male', 'Female', 'Other']" [value]="sex">
            {{sex}}
          </mat-option>
        </mat-select>
      </div>
      <div class="block">
        <mat-label>Preferred gender</mat-label>
        <mat-select #prefGender (selectionChange)="updatePrefGender(prefGender.value)" [value]="profile?.sex"
                    placeholder="Gender"
                    style="padding:.3rem">
          <mat-option *ngFor="let pref of ['Male', 'Female', 'Both']" [value]="pref">
            {{pref}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <p>About Me</p>
    <label>
      <textarea
        #about
        (blur)="uploadAbout(about.value)"
        [value]="profile.aboutMe"
        cdkAutosizeMinRows="3" cdkTextareaAutosize
        class="textarea"></textarea>
    </label>
    <app-image-edit
      (result)="updatePhoto($event)"
      [images]="profile.photo.paths"
      [profilePhoto]="profile.photo.profilePhoto">
    </app-image-edit>
  </div>
  <div [ngClass]="{'disabled': !firstAccess, 'inactive': updating}" class="first__access__button" (click)="sendFirstAccessData()">
    <mat-progress-spinner diameter="26" mode="indeterminate" value="100" *ngIf="updating">
    </mat-progress-spinner><span class="button__text">Complete</span> </div>
</ng-template>
