.textarea {
  width: 100%;
  border: none;
  box-shadow: 0 4px 2px -2px purple;
  border-bottom: 1px solid purple;

  &:focus {
    outline: none;
  }
}
.block {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid silver;
  flex: 1 1 auto;
}

:host {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.content {
  flex-direction: column;
  gap: 1rem;
}

.logo__img {
  height: 2.5rem;
  display: block;
  padding-right: 1ch;
}

.head {
  display: flex;
  gap: 1rem;
  ::ng-deep .notification__wrapper {
    display: flex;
    .label {
      top: -10px !important;
      right: -14px !important;
      line-height: 20px !important;
    }
  }
  .content {
    flex-direction: row;
    align-items: center;
  }
  :focus {
    outline: none;
  }
  .title {
    flex: 1 1 auto;
  }
}

.menu {
  cursor: pointer;
}
.block__group {
  display: flex;
}

.info {
  padding: 0.5rem 1rem;
  margin: 0.3rem 0.3rem 1.3rem 0.3rem;
  border: 1px solid;
  border-radius: 3px;
  font-style: italic;
  box-shadow: 1px 1px 5px grey;
  display: flex;
  align-items: center;
}

.first__access__button {
  align-self: center;
  padding: 1rem 3rem;
  background: green;
  box-shadow: 5px 3px 10px grey;
  transition: all 0.1s ease-in-out;
  align-items: center;
  display: flex;
  border-radius: 3px;
  justify-content: center;
  margin: 1rem 0 5rem 0;
  color: white;
  cursor: pointer;
  &:hover {
    box-shadow: 1px 1px 1px grey;
  }
  &.disabled {
    box-shadow: none;
  }
  .button__text {
    font-size: 1.3rem;
    margin: 0 1rem;
  }
}
.disabled {
  pointer-events: none !important;
  background: #5f5f5f !important;
}
.inactive {
  pointer-events: none;
}
