<app-header (toggleEvent)="drawer.toggle()"></app-header>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav [mode]="mode" #drawer role="navigation" class="sidenav">
    <mat-nav-list (click)="hideSidenav()">
      <app-widget-notification key="123">
        <mat-list-item
          routerLink="matches"
          routerLinkActive="active">
          Matches
        </mat-list-item>
      </app-widget-notification>
      <mat-list-item
        routerLink="followers"
        routerLinkActive="active">
        Followers
      </mat-list-item>
      <mat-list-item
        routerLink="search"
        routerLinkActive="active">
        Search
      </mat-list-item>
      <mat-list-item
        routerLink="chats"
        routerLinkActive="active">
        Chats
      </mat-list-item>
      <mat-list-item
        routerLink="favorite"
        routerLinkActive="active">
        Favorite
      </mat-list-item>
      <mat-list-item
        routerLink="visitors"
        routerLinkActive="active">
        Visitors
      </mat-list-item>
      <mat-list-item
        routerLink="notification"
        routerLinkActive="active">
        Notification
      </mat-list-item>
      <mat-list-item
        routerLink="settings"
        routerLinkActive="active">
        Settings
      </mat-list-item>
      <mat-list-item
        routerLink="blacklist"
        routerLinkActive="active">
        Blacklist
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content role="main" cdk-scrollable class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
