:host {
  flex: 1 1 auto;
}

.sidenav-container {
  height: calc(100% - 46px);
  }
::ng-deep .mat-list-item-content{
  padding: 0 32px 0 16px !important;
}
//
//  .sidenav-content {
//    position: absolute;
//    top: 0;
//    left: 0;
//    right: 0;
//  }
//}
