<form class="menu__content" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div>
    <div class="error"></div>
    <input class="field"
           autocomplete="off"
           type="text"
           placeholder="Login"
           ngModel name="login" #login="ngModel"></div>
  <div>
    <div class="error"></div>
    <input class="field"
           autocomplete="off"
           type="password"
           placeholder="Password"
           ngModel name="pass" #pass="ngModel"></div>
  <button type="submit" class="btn" id="sing_in">Sing In</button>
  <div class="login__helper">
    <a routerLink="/restore" class="link" routerLinkActive="active">Forgot password?</a>
    <a routerLink="/register" class="link" routerLinkActive="active">Sing Up</a>
  </div>
</form>
