.map-container {
  .map-frame {
    border: 2px solid black;
    height: 400px;
    position: relative;
    .map {
      height: 100%;
    }
    .map-button{
      position: absolute;
      right: 0;
      top: 1rem;
      z-index: 500;
      cursor: pointer;
      color: #5f5f5f;
      ::ng-deep i {
        text-shadow: 1px 1px 1px black;
      }
    }

  }
}
