<div class="search__wrapper">
<div>
  Age
  <ngx-slider [(value)]="age.min" [(highValue)]="age.max" [options]="ageOptions"></ngx-slider>
</div>
<div>
  Fame
  <ngx-slider [(value)]="fame.min" [(highValue)]="fame.max" [options]="fameOptions"></ngx-slider>
</div>
<div>
  Location
  <app-map *ngIf="markers" [markers]="markers.concat(searchMarkers)" #map></app-map>
</div>
<div class="btn__block">
  <div (click)="search()" class="btn">Search</div>
</div>
  <mat-selection-list [multiple]="false" *ngIf="searchResults?.profiles?.length">
    <mat-list-option *ngFor="let user of searchResults?.profiles" (click)="openInfo(user)">
      <app-user-widget [user]="user"></app-user-widget>
    </mat-list-option>
  </mat-selection-list>
<pre>
  {{ searchResults | json }}
</pre>
  <pre>
  {{ searchMarkers | json }}
</pre>
</div>
