<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Filters
    </mat-panel-title>
  </mat-expansion-panel-header>
    <app-list-edit [list]="tagList" (editList)="editList('tag', $event)"></app-list-edit>
    <div>
      Age
      <ngx-slider [(value)]="age.min" [(highValue)]="age.max" [options]="ageOptions"></ngx-slider>
    </div>
    <div>
      Fame
      <ngx-slider [(value)]="fame.min" [(highValue)]="fame.max" [options]="fameOptions"></ngx-slider>
    </div>
    <div>
      Location
      <app-map *ngIf="markers" [markers]="markers.concat(searchMarkers)" #map></app-map>
    </div>

</mat-expansion-panel>


<div class="btn__block search__btn">
  <div>
    Sort:
  </div>
  <div>
    <mat-select #sortSelect (selectionChange)="sortBy = sortSelect.value" [value]="sortBy"
                      style="padding:.3rem">
      <mat-option *ngFor="let sort of ['Match', 'Rating', 'Distance', 'Tag', 'Age']" [value]="sort">
        {{sort}}
      </mat-option>
    </mat-select>
  </div>
  <div (click)="desc = !desc" style="cursor: pointer">
    Order:
    <i class="fas fa-angle-{{desc ? 'up' : 'down'}}" style="transform: scale(1.3)"></i></div>
  <div (click)="search()" class="btn">Search</div>
</div>
  <mat-selection-list [multiple]="false" *ngIf="searchResults?.profiles?.length">
    <mat-list-option *ngFor="let user of searchResults?.profiles" (click)="openInfo(user)">
      <app-user-widget [user]="user"></app-user-widget>
    </mat-list-option>
  </mat-selection-list>
<pre>
  {{ searchResults | json }}
</pre>
  <pre>
  {{ searchMarkers | json }}
</pre>
