<div *ngIf="image else upload">
  <img [ngClass]="{'selected' : selected}" [src]="image" alt="" class="image">
  <span (click)="removePhoto($event)" class="material-icons icon"
        title="Remove Photo">delete</span>
</div>
<ng-template #upload>
  <label class="empty">
    <span>Add photo </span>
    <span class="material-icons">add_a_photo</span>
    <input (change)="handleFileInput($event)"
           accept="image/*"
           hidden
           id="file"
           type="file">
  </label>
</ng-template>
