::-webkit-scrollbar {
  width: 0;
}

.error {
  font-size: 0.7rem;
  color: #c10606;
}

.hidden {
  display: none;
}

.btn {
  width: 100%;
  padding: 0.3rem 1rem;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 3px;
  background: linear-gradient(215deg, #546e7a, #37474f);

  @media only screen and (max-width: 330px) {
    padding: 0.2rem 0.5rem;
  }

  &:hover {
    background: linear-gradient(35deg, #546e7a, #37474f);
  }

  &:active {
    background: linear-gradient(215deg, #546e7a, #37474f);
  }

  &:disabled {
    color: #bdbdbd;
    background: #868c8d;
  }
}

.full {
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.art__title {
  font-family: CustomFont, sans-serif;
  color: #37474f;
}

.help__text {
  font-style: italic;
  color: #4c1951;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}

i {
  margin: 0 0.3ch;
}

.loadingIcon {
  animation: spin 1.5s ease infinite;
  color: white;
}

@keyframes message {
  from {
    transform: translate(0, -100%);
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30%,
  70% {
    transform: translate(0, 0);
  }
  85% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(100%, 0);
  }
}

.box_message {
  position: fixed;
  z-index: 999;
  top: 40px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: right;
  pointer-events: none;
  gap: 0.5rem;
}

.message {
  display: inline-block;
  padding: 0.3rem 1rem;
  color: white;
  border: 1px solid #37474f;
  border-radius: 4px;
  background: green;
  box-shadow: 0 0 5px #3f135f;
}

.green_i {
  pointer-events: none;

  i {
    color: green;
  }
}

.red_i {
  i {
    color: red;
  }
}

.red {
  background: darkred;
}

.show_message {
  animation: 1.5s message ease;
}

.center {
  margin: auto;
}

.mat-spinner {
  margin: auto;
}
