.container {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #546e7a;
  background: #eee;
}

.main__wrapper {
  //@media screen and (min-device-width: 998px) {
  //  max-width: 900px;
  //}
  //margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  overflow-y: scroll;
  width: 100%;
  margin: 0 auto;
  @media screen and (min-device-width: 1025px) {
    max-width: 1018px;
  }
}
