<ng-container *ngTemplateOutlet="notFound ? userNotFound : user ? userInfo : loading"></ng-container>
<ng-template #userInfo>
  <div class="info">
    <div class="carousel__wrapper">
      <div class="status">
        <span [ngClass]="{'online': user?.isOnline}">{{user?.isOnline ?
          'Online' :
          'Was: ' + (user?.lastLoginTime ? (user?.lastLoginTime | date:'medium') : 'false')}}</span>
      </div>
      <div class="btn__block" *ngIf="profile !== login">
        <div class="btn" (click)="report()" title="Report"><i class="far fa-thumbs-down"></i></div>
        <div class="btn" (click)="addBlackList()" title="Block">
          <i *ngIf="!user?.isBlocked" class="fas fa-user-alt-slash"></i>
          <i *ngIf="user?.isBlocked" class="fas fa-user-check"></i>
        </div>
        <div class="btn" (click)="addFavorite()" title="Favorite" *ngIf="likeAvailable">
          <i [class]="user?.isFavourite ? 'fas' : 'far'" class="fa-star"></i></div>
        <div class="btn" (click)="startChat()" title="Chat" *ngIf="user?.canActiveChat"><i class="far fa-comments"></i></div>
      </div>
      <swiper [index] ="index">
        <div *ngFor="let path of user?.photo?.paths">
          <img [src]="path" alt="photo">
        </div>
      </swiper>
    </div>
    <mat-list role="list">
      <mat-list-item role="listitem">
        Name: {{user?.name?.firstName}} {{user?.name?.lastName}} ({{user?.name?.nickName}})
      </mat-list-item>
      <mat-chip-list>
        <mat-chip *ngFor="let tag of user?.tag">
          {{tag}}
        </mat-chip>
      </mat-chip-list>
      <mat-list-item role="listitem" [title]="'Birth day: ' + (age | date:'longDate')" *ngIf="user?.age">
        Age: {{user?.age}} years
      </mat-list-item>
      <mat-list-item role="listitem">
        Rating: {{user?.fameRating }}<i class="fas fa-medal"></i>
      </mat-list-item>
      <mat-list-item role="listitem" [title]="'Followers ' + user?.favoritesCount" *ngIf="user?.favoritesCount">
        Followers: {{user?.favoritesCount}}<i class="fas fa-star"></i>
      </mat-list-item>
      <mat-list-item role="listitem" [title]="'FakeStatus ' + user?.countFake" *ngIf="user?.countFake">
        FakeStatus: {{user?.countFake}}<i class="far fa-thumbs-down"></i>
      </mat-list-item>
      <mat-list-item role="listitem" [title]="'Gender:'" [ngSwitch]="user?.gender">
        Gender:
        <i *ngSwitchCase="'Male'" class="fas fa-mars"></i>
        <i *ngSwitchCase="'Female'" class="fas fa-venus"></i>
        <i *ngSwitchDefault class="fas fa-venus-mars"></i>
      </mat-list-item>
      <mat-list-item role="listitem" [title]="'Looking for:'" [ngSwitch]="user?.sex">
        Looking for:
        <i *ngSwitchCase="'Male'" class="fas fa-mars"></i>
        <i *ngSwitchCase="'Female'" class="fas fa-venus"></i>
        <i *ngSwitchDefault class="fas fa-venus-mars"></i>
      </mat-list-item>
      <mat-list-item role="listitem" [title]="'Distance:'">
        <i class="fas fa-map-marker-alt" style="margin-left: 0"></i>
        {{user?.distance | number: '1.0-1' }} km from you
      </mat-list-item>
    </mat-list>
  </div>
  <mat-accordion multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          About Me
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{ user?.aboutMe }}</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Find Me
        </mat-panel-title>
        <mat-panel-description>
          Location
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-map [markers]="[[user!.coordinates!.latitude, user!.coordinates!.longitude]]">
      </app-map>
    </mat-expansion-panel>
  </mat-accordion>
  <pre> {{user | json }}</pre>
</ng-template>
<ng-template #loading><mat-spinner></mat-spinner></ng-template>
<ng-template #userNotFound><app-not-found></app-not-found></ng-template>

